<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('includes/head', {titulo:titulo})%>

  <link rel="stylesheet" href="/css/home/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
  
<body class="d-flex flex-column body" id="body">

  <%- include('includes/home/header')%>

  <main id="main" class="big-banner" >
    <section id="sessaoHome" class="pFirst big-banner"></section>
    <div class="titleHome position-absolute" >
      <h1 id="titleHomeText"class="t text-light">Plaza das Flores</h1>
    </div>
    
    
    <%- include('homeParts/homeSobre')%>

    <%- include('homeParts/homeApartamento')%>
    <%- include('homeParts/homeLazer')%>
    <%- include('homeParts/homeLocalizacao')%>
    <%- include('homeParts/homeContato')%>
    


   
  </main>

  <div class="modal fade" id="modalAlertMorador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Já é morador?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Se sim, use a área exclusiva para moradores. O acesso está localizado no canto superior direito da página.
        </div>
      </div>
    </div>
  </div>

  
  
  <%- include('includes/footer')%>
  
  <script>
    
    //HIDE HEADER WHEN SCROLLING AND SHOW "JÁ É MORADOR MODAL"

    var firstScroll = true;
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("nav").style.top = "0";
      } else {
        document.getElementById("nav").style.top = "-100%";
      }
    prevScrollpos = currentScrollPos;
    
    //MODAL========================================
      while (firstScroll) {
        $('#modalAlertMorador').modal('show')
        firstScroll = false;
      }
    }


    //CHANGE SHOWBUTTONS TEXT =======================
    const insideText = {
      showPlanta: 'Planta do apartamento, possui 3 quartos, 2 banheiros, 1 suíte, 1 varanda, 1 sala e 1 cozinha.',
      showQuartos: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam eius omnis sint. Recusandae error hic fugit harum earum itaque similique magnam! Ducimus debitis excepturi nam est unde aspernatur officia.',
      showBanheiro: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam eius omnis sint. Recusandae error hic fugit harum earum itaque similique magnam! Ducimus debitis excepturi nam est unde aspernatur officia.',
      showCozinha: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam eius omnis sint. Recusandae error hic fugit harum earum itaque similique magnam! Ducimus debitis excepturi nam est unde aspernatur officia.',
      showSala: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam eius omnis sint. Recusandae error hic fugit harum earum itaque similique magnam! Ducimus debitis excepturi nam est unde aspernatur officia.',
      showVaranda: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam eius omnis sint. Recusandae error hic fugit harum earum itaque similique magnam! Ducimus debitis excepturi nam est unde aspernatur officia.',
    }

    
    function changeShowButtonsText(id) {
      const paragraph = document.getElementById("buttonText");
      paragraph.innerHTML = '';
      const text = document.createTextNode(insideText[id]);
      paragraph.appendChild(text);

      changeApartamentSectionImage(id)
    }

    
    //CHANGE APARTAMENTO SECTION IMAGES

    const imagesSources = {
      showPlanta: 'images/home/Planta-apartamento.jpg',
      showQuartos: 'images/home/Planta-apartamento.jpg',
      showBanheiro: 'images/home/Planta-apartamento.jpg',
      showCozinha: 'images/home/Planta-apartamento.jpg',
      showSala: 'images/home/Planta-apartamento.jpg',
      showVaranda: 'images/home/Planta-apartamento.jpg',
    }

    function changeApartamentSectionImage(id) {
      const image = document.getElementById('imageApartamento');
      image.setAttribute('src', imagesSources[id])
      
    }

    

    //OPEN MODAL homeLazer.ejs

    function openModal(id){
      const image = document.getElementById(id);
      const source = image.getAttribute('src');
      const imageAlt = image.getAttribute('alt')

      const modalImage = document.querySelector("#modalLazer div div img");
      modalImage.setAttribute('src', source);
      modalImage.setAttribute('alt', imageAlt);
    }



  </script>
      <script type="text/javascript" src="/javascripts/home/home.js"></script>
      <%- include('includes/scriptJS')%>
      <%  if(typeof(error) != 'undefined'){ %>
        <%- include('./includes/utilities/errorAlert')%>
       <%  }   %>
</body>
</html>