<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/sindicoMoradores.css">
</head>

<body>
  <%- include('../../includes/backoffice/header') %>
  <%- include('../../includes/backoffice/aside') %>

  <main class="customMain">

    <%- include('../../includes/utilities/subHeader') %>
    
    <!-- name:'Gerenciamento de Moradores' -->

    <section class="customSection">

      <%const optionsButtonsTop = [{dataTarget:"#modalPorteiro", name:'Novo porteiro',dataToggle:"modal"}]  %>
      <%optionsButtonsTop.push({dataTarget:"#staticBackdrop", name:'Novo Morador',dataToggle:"modal"})  %>
      <%- include('../../includes/utilities/optionsButtonsTop',{optionsButtonsTop}) %>


      <div class="submenu row justify-content-center justify-content-md-center">
        <div id="msgError"> </div>

      





      <table class="table table-striped justify-content-center">
        <thead class="tituloTabela justify-content-center">
          <tr>
            <th class="thTitulo">
              <form class="form-inline my-2 my-lg-0" method="GET" action="./moradores">
                <label for="busca">Filtrar por: </label>
                <select id="tipoBusca" name="tipoBusca" class="form-control busca" required>

                  <option value="nome">Nome</option>
                  <option value="CPF">CPF</option>

                </select>

                <input class="form-control mr-sm-2" type="search" id="valor" name="valor" placeholder="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
              </form>
            </th>


          </tr>
        </thead>
      </table>
      <table class="table table-striped justify-content-center">
        <thead class="justify-content-center">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col" id="cpf">CPF</th>
            <th scope="col" id="tipo">Tipo</th>
            <th scope="col" id="ap">Status</th>
            <th scope="col" id="tipo">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(result => {  %>
          <tr value="<%= result.id %>">

            <th scope="row" class="nome"> <%= result.nome %></th>
            <td id="cpf"> <%= result.cpf %></td>
            <td id="tipo"> <% if(result.tipo_usuario_id ==1) { %>
              MORADOR <% }if(result.tipo_usuario_id ==2) {%>
              SINDICO <%} if(result.tipo_usuario_id ==3) {%> PORTEIRO <%} %></td>

            <td id="Status"> <% if(result.status ==true) { %>
              Ativo <% }if(result.status ==false) {%>
              Desativado <%} %></td>
            <td>
              <% if(result.tipo_usuario_id ==1) { %>
              <a id="editarcad" class="text-primary text-decoration-none" title="Resetar Senha" data-toggle="modal"
                data-target="#exampleModal" data-id="<%= result.id %>" data-nome_morador="<%= result.nome %>"
                data-rg_morador="<%= result.rg %>" data-cpf_morador="<%= result.cpf %>"
                data-email_morador="<%= result.email %>" data-bloco_morador="<%= result.bloco_id %>"
                data-ap_morador="<%= result.apartamento_id %>" data-foto_morador="<%= result.foto %>">
                <i class="fas fa-user-edit"></i></a> <% }if(result.tipo_usuario_id ==3) {%>
              <a id="editacao" class="text-primary text-decoration-none" title="Editar Cadastro" data-toggle="modal"
                data-target="#porteiroModalEdit" data-id="<%= result.id %>" data-nome_porteiro="<%= result.nome %>"
                data-rg_porteiro="<%= result.rg %>" data-cpf_porteiro="<%= result.cpf %>"
                data-email_porteiro="<%= result.email %>" data-foto_porteiro="<%= result.foto %>">
                <i class="fas fa-user-edit"></i></a><%} %>
              <% if(result.tipo_usuario_id ==3 || result.tipo_usuario_id ==1) { %>
              <a id="resetarSenha" class="text-primary text-decoration-none" title=" <%  if(result.status ==true){ %> Desabilitar
                         <%} else{ %>Habilitar <%
                         } %>" data-toggle="modal" data-target="#statusModal" data-id="<%= result.id %>"
                data-status="<%= result.status %>" data-nome="<%= result.nome %>">
                <%  if(result.status ==true){ %> <i class="fas fa-lock"></i>
                <%} else{ %><i class="fas fa-lock-open"></i> <%
                   } %></a> <% } %>

              <% if(result.tipo_usuario_id ==3 || result.tipo_usuario_id ==1) { %>
              <a id="resetarSenha" class="text-primary text-decoration-none" title="Resetar Senha" data-toggle="modal"
                data-target="#senhaModal" data-id="<%= result.id %>" data-cpf="<%= result.cpf %>"
                data-nome="<%= result.nome %>">
                <i class="fas fa-user-edit"></i></a> <% } %>


            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>




    </section>



    <!-- Modal cad morador -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              <h2>Cadastro de novo Morador</h2</h5> <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">


            <form id="morador" method="POST" action="/backoffice/sindico/Moradores" enctype="multipart/form-data">

              <div class="row">
                <div class="col">
                  <label for="nome">Nome:</label>
                  <input required="required" id="nome" name="nome" type="text" class="form-control"
                    placeholder="Nome completo">
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <label for="rg">RG:</label>
                  <input id="rg" name="rg" type="number" class="form-control" placeholder="RG">
                </div>
                <div class="col">
                  <label for="cpf">CPF:</label>
                  <input required="required" id="cpf" name="cpf" type="number" class="form-control" placeholder="CPF">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="email">Email:</label>
                  <input required="required" id="email" name="email" type="email" class="form-control"
                    placeholder="morador@email.com.br">
                </div>
                <div class="col">
                  <label for="celular">Contato:</label>
                  <input id="celular" name="celular" type="text" class="form-control" placeholder="(XX)XXXXX-XXXX">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label for="bloco">Bloco:</label>
                  <select id="bloco" name="bloco" class="form-control">
                    <option disabled selected>Informe</option>
                    <% resultBloco.forEach(resultBloco => {  %>
                    <option value="<%= resultBloco.id %>"><%= resultBloco.bloco %></option>
                    <% }); %>

                  </select>
                </div>

                <div class="col">
                  <label for="ap">Ap</label>
                  <select id="ap" name="ap" class="form-control">
                    <option disabled selected>Informe</option>
                    <% resultApartamento.forEach(resultApartamento => {  %>
                    <option value="<%= resultApartamento.id %>"><%= resultApartamento.apartamento %></option>
                    <% }); %>
                  </select>
                </div>
              </div>

              <div style="margin:10px" class="row">
                <div class="col">
                  <label for="fotoMorador">Foto</label>
                  <input type="file" class="form-control file" name="fotoMorador" id="fotoMorador">
                </div>
                <!--   <div style="margin:5px" class="row custom-file">
                <input type="file" class="custom-file-input" name="fotoMorador" id="fotoMorador">
                <label class="custom-file-label" for="customFile">Escolher foto</label>
              </div> -->


              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="novoMorador" class="btn btn-primary">Gravar</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
    <!-- fim do Modal cad morador -->



    <!-- Modal edit morador -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row justify-content-md-center">
              <div class="col-md-2 foto"><img
                  src="https://avatars2.githubusercontent.com/u/37584505?s=400&u=73100f3df6d155544e9bc50b7fb9f83410d0b308&v=4"
                  width="10" height="100" class="card-img" alt="..."></div>

            </div>
            <div class="formEdita">
              <form id="formEdita" method='post' enctype='multipart/form-data'>


                <div class="row">
                  <div class="col">
                    <label for="nome">Nome:</label>
                    <input required="required" id="nome" name="nome" type="text" class="form-control"
                      placeholder="Nome completo">
                  </div>

                </div>
                <div class="row">
                  <div class="col">
                    <label for="rg">RG:</label>
                    <input id="rg" name="rg" type="number" class="form-control" placeholder="RG">
                  </div>
                  <div class="col">
                    <label for="cpf">CPF:</label>
                    <input required="required" id="cpf" name="cpf" type="number" class="form-control" placeholder="CPF">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="email">Email:</label>
                    <input required="required" id="email" name="email" type="email" class="form-control"
                      placeholder="morador@email.com.br">
                  </div>
                  <div class="col">
                    <label for="celular">Contato:</label>
                    <input id="celular" name="celular" type="text" class="form-control" placeholder="(XX)XXXXX-XXXX">
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label for="bloco">Bloco:</label>
                    <select id="bloco" name="bloco" class="form-control">
                      <option disabled selected>Informe</option>
                      <% resultBloco.forEach(resultBloco => {  %>
                      <option value="<%= resultBloco.id %>"><%= resultBloco.bloco %></option>
                      <% }); %>

                    </select>
                  </div>

                  <div class="col">
                    <label for="ap">Ap</label>
                    <select id="ap" name="ap" class="form-control">
                      <option disabled selected>Informe</option>
                      <% resultApartamento.forEach(resultApartamento => {  %>
                      <option value="<%= resultApartamento.id %>"><%= resultApartamento.apartamento %></option>
                      <% }); %>
                    </select>
                  </div>
                </div>

                <div style="margin:10px" class="row">
                  <div class="col">
                    <label for="fotoMorador">Foto</label>
                    <input type="file" class="form-control file" name="fotoMorador" id="fotoMorador">
                  </div>
                  <!--   <div style="margin:5px" class="row custom-file">
                <input type="file" class="custom-file-input" name="fotoMorador" id="fotoMorador">
                <label class="custom-file-label" for="customFile">Escolher foto</label>
              </div> -->


                </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Gravar</button>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fim do Modal edita morador -->

    <!-- Modal cad porteiro -->
    <div class="modal fade" id="modalPorteiro" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="modalPorteiroLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalPorteiroLabel">
              <h2>Cadastro de novo Porteiro</h2</h5> <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">


            <form id="porteiro" method="POST" action="/backoffice/sindico/porteiros" enctype="multipart/form-data">

              <div class="row">
                <div class="col">
                  <label for="nome">Nome:</label>
                  <input required="required" id="nome" name="nome" type="text" class="form-control"
                    placeholder="Nome completo">
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <label for="rg">RG:</label>
                  <input id="rg" name="rg" type="number" class="form-control" placeholder="RG">
                </div>
                <div class="col">
                  <label for="cpf">CPF:</label>
                  <input required="required" id="cpf" name="cpf" type="number" class="form-control" placeholder="CPF">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="email">Email:</label>
                  <input required="required" id="email" name="email" type="email" class="form-control"
                    placeholder="portaria@email.com.br">
                </div>
                <div class="col">
                  <label for="celular">Contato:</label>
                  <input id="celular" name="celular" type="text" class="form-control" placeholder="(XX)XXXXX-XXXX">
                </div>
              </div>


              <div style="margin:10px" class="row">
                <div class="col">
                  <label for="fotoPorteiro">Foto</label>
                  <input type="file" class="form-control file" name="fotoPorteiro" id="fotoPorteiro">
                </div>


              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="novoPorteiro" value="Gravando porteiro"
                  class="btn btn-primary">Gravar</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
    <!-- fim do Modal cad porteiro -->



    <!-- Modal edit porteiro -->
    <div class="modal fade" id="porteiroModalEdit" tabindex="-1" role="dialog" aria-labelledby="porteiroModalEditLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="porteiroModalEditLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row justify-content-md-center">
              <div class="col-md-2 foto"><img
                  src="https://avatars2.githubusercontent.com/u/37584505?s=400&u=73100f3df6d155544e9bc50b7fb9f83410d0b308&v=4"
                  width="10" height="100" class="card-img" alt="..."></div>

            </div>
            <div class="formEditaPorteiro">
              <form id="formEditaPorteiro" method='post' enctype='multipart/form-data'>


                <div class="row">
                  <div class="col">
                    <label for="nome">Nome:</label>
                    <input required="required" id="nome" name="nome" type="text" class="form-control"
                      placeholder="Nome completo">
                  </div>

                </div>
                <div class="row">
                  <div class="col">
                    <label for="rg">RG:</label>
                    <input id="rg" name="rg" type="number" class="form-control" placeholder="RG">
                  </div>
                  <div class="col">
                    <label for="cpf">CPF:</label>
                    <input required="required" id="cpf" name="cpf" type="number" class="form-control" placeholder="CPF">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="email">Email:</label>
                    <input required="required" id="email" name="email" type="email" class="form-control"
                      placeholder="porteiro@email.com.br">
                  </div>
                  <div class="col">
                    <label for="celular">Contato:</label>
                    <input id="celular" name="celular" type="text" class="form-control" placeholder="(XX)XXXXX-XXXX">
                  </div>
                </div>

                <div style="margin:10px" class="row">
                  <div class="col">
                    <label for="fotoPorteiro">Foto</label>
                    <input type="file" class="form-control file" name="fotoPorteiro" id="fotoPorteiro">
                  </div>

                </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Gravar</button>
                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- fim do Modal edita morador -->


    <!-- Modal status -->
    <div class="modal fade" id="statusModal" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="statusModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="porteiroModalEditLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="formEditaStatus">

              <form id="formEditaStatus" method="POST" action="/backoffice/sindico/Moradores">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button id="confirmarStatus" class="btn btn-primary">Confirmar</button>
            </div>
            </form>


          </div>
        </div>
      </div>
    </div>
    <!-- fim do Modal status -->



    <!-- Modal senha -->
    <div class="modal fade" id="senhaModal" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="senhaModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="senhaModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="formSenha">

              <form id="formSenha" method="POST" action="/backoffice/sindico/Moradores">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button id="confirmarStatus" class="btn btn-primary">Confirmar</button>
            </div>
            </form>


          </div>
        </div>
      </div>
    </div>
    <!-- fim do Modal senha -->







  </main>

  <%- include('../../includes/scriptJS')%>
  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id_morador = button.data('id')
      var nome_morador = button.data('nome_morador')
      var rg_morador = button.data('rg_morador')
      var cpf_morador = button.data('cpf_morador')
      var email_morador = button.data('email_morador')
      // var contato_morador = button.data('contato')
      var bloco_morador = button.data('bloco_morador')
      var ap_morador = button.data('ap_morador')
      var foto_morador = button.data('foto_morador') /// Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('Editando o Cadastro do morador ' + nome_morador)
      modal.find('#nome').val(nome_morador)
      modal.find('#rg').val(rg_morador)
      modal.find('#cpf').val(cpf_morador)
      modal.find('#email').val(email_morador)
      modal.find('#bloco').val(bloco_morador)
      modal.find('#ap').val(ap_morador)

      var formEdita = document.querySelector("#formEdita")
      formEdita.setAttribute("action", "/backoffice/sindico/editarMorador/" + id_morador + "?_method=PUT")
      modal.find('.foto').html("<img src=" + foto_morador +
        " width='10' height='100' class='card-img' alt='...'>")

    })

    $('#porteiroModalEdit').on('show.bs.modal', function (event) {
      var button2 = $(event.relatedTarget) // Button that triggered the modal
      var id_porteiro = button2.data('id')
      var nome_porteiro = button2.data('nome_porteiro')
      var rg_porteiro = button2.data('rg_porteiro')
      var cpf_porteiro = button2.data('cpf_porteiro')
      var email_porteiro = button2.data('email_porteiro')
      // var contato_morador = button.data('contato')

      var foto_porteiro = button2.data('foto_porteiro') /// Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal2 = $(this)
      modal2.find('.modal-title').text('Editando o Cadastro do Porteiro ' + nome_porteiro)
      modal2.find('#nome').val(nome_porteiro)
      modal2.find('#rg').val(rg_porteiro)
      modal2.find('#cpf').val(cpf_porteiro)
      modal2.find('#email').val(email_porteiro)
      var formEdita2 = document.querySelector("#formEditaPorteiro")
      formEdita2.setAttribute("action", "/backoffice/sindico/editarPorteiro/" + id_porteiro + "?_method=PUT")
      modal2.find('.foto').html("<img src=" + foto_porteiro +
        " width='10' height='100' class='card-img' alt='...'>")

    })

    $('#statusModal').on('show.bs.modal', function (event) {
      var button3 = $(event.relatedTarget) // Button that triggered the modal
      var id = button3.data('id')
      var nome = button3.data('nome')
      var status = button3.data('status')
      var modal3 = $(this)
      modal3.find('.modal-title').text('Deseja alterar o Status do usuario : ' + nome + '  ?')
      // modal3.find('#nome').text(nome)
      modal3.find('#status').val(status)
      // method="PUT"
      var formEdita3 = document.querySelector("#formEditaStatus")
      formEdita3.setAttribute("action", "./editaStatus/" + id + "/" + status + "?_method=PUT")
      formEdita3.setAttribute("method", "post")
      formEdita3.setAttribute("value", status)

    })


    $('#senhaModal').on('show.bs.modal', function (event) {
      var button4 = $(event.relatedTarget) // Button that triggered the modal
      var id = button4.data('id')
      var nome = button4.data('nome')
      var cpf = button4.data('cpf')
      var modal4 = $(this)
      modal4.find('.modal-title').text('Deseja resetar a senha do usuario : ' + nome + '  ?')
      var formEdita4 = document.querySelector("#formSenha")
      formEdita4.setAttribute("action", "./resetaSenha/" + id + "/" + cpf + "?_method=PUT")
      formEdita4.setAttribute("method", "post")
      formEdita4.setAttribute("value", cpf)

    })
  </script>




</body>

</html>