<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../includes/head', {titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css" />
  <link rel="stylesheet" href="/css/backoffice/comunicados.css" />
</head>

<body>
  <%- include('../includes/backoffice/header') %>
  <%- include('../includes/backoffice/aside') %>

  <main class="container-fluid mx-0 pt-2">
    <div class="row">
      <h1 class="pl-3"><%= titulo %></h1>
    </div>

    <div class="row">
      <div class="col-10 col-md-8 offset-1 offset-md-2 mb-3 p-0">
        <button id="btnNovoComunicado" type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
          data-toggle="modal" data-target="#modalNovoComunicado">
          Novo Comunicado
        </button>
      </div>
    </div>

    <section class="row">
      <div class="card col-10 col-md-8 offset-1 offset-md-2 px-0">
        <div class="card-header d-flex justify-content-center w-100 p-0">
          <h5 class="m-0 p-1">Comunicados</h5>
        </div>
        <div class="card-body row">
          <div class="col-12 d-flex align-items-center flex-column">
            <% if (listaComunicados.length > 0) { %>
              <span id="obs" class="align-self-start ">* Para visualizar o comunicado completo basta clicar em seu título</span>
              <table class="table table-borderless table-striped table-hover table-responsive-sm">
                <caption>
                  Comunicados
                </caption>

                <thead>
                  <tr>
                    <th scope="col">
                      Data
                    </th>
                    <th scope="col">
                      Título
                    </th>
                    <th scope="col">
                      Ações
                    </th>
                  </tr>
                </thead>

                <tbody id="tableBody">
                  <% listaComunicados.forEach(comunicado => { %>
                    <tr>
                      <td class="align-middle">
                        <%= moment(comunicado.created_at).format('DD/MM/YYYY') %>
                      </td>
                      <td class="align-middle">
                        <a id="comunicado<%= comunicado.id %>" data-target="#modalMostrarComunicado" data-id="<%= comunicado.id %>">
                          <u><%= comunicado.titulo %></u>
                        </a>
                      </td>
                      <td class="align-middle">
                        <a id="editarComunicado<%= comunicado.id %>" class="text-primary text-decoration-none" data-id="<%= comunicado.id %>" title="Editar Comunicado">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a id="excluirComunicado<%= comunicado.id %>" class="text-danger ml-3" data-id="<%= comunicado.id %>" title="Excluir Comunicado">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            <% } else { %>
              <h4 class="text-danger">Nenhum comunicado foi encontrado!</h4>
            <% } %>
          </div>
          <!-- /.col-12 -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
  </main>

  <%# Modal Novo Comunicado %>
  <div class="modal fade" id="modalNovoComunicado" tabindex="-1" role="dialog"
    aria-labelledby="modalNovoComunicadoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center p-1">
          <h5 class="modal-title" id="modalNovoComunicadoTitle">Novo Comunicado</h5>
        </div>

        <form class="form-group m-0" action="/backoffice/sindico/comunicados" method="POST">
          <div class="modal-body">
            <label for="titulo">Título</label>
            <input id="titulo" name="titulo" class="form-control" type="text" max="50">

            <label for="mensagem" class="mt-3">Mensagem</label>
            <textarea id="mensagem" name="mensagem" class="form-control" cols="30" rows="10" maxlength="500"></textarea>
          </div>

          <div class="modal-footer border-0">
            <button type="submit" class="btn-sm btn-success border-0 rounded-pill font-weight-bold px-3 ml-2">
              Criar
            </button>
            <button type="button" class="btn-sm btn-danger border-0 rounded-pill font-weight-bold px-3"
              data-dismiss="modal">
              Voltar
            </button>
          </div>
       </form>

      </div>
    </div>
  </div>
  <!-- /#modalNovoComunicado -->

  <%# Modal Mostrar Comunicado %>
  <div class="modal fade" id="modalMostrarComunicado" tabindex="-1" role="dialog"
    aria-labelledby="modalMostrarComunicadoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center p-1">
          <h5 class="modal-title" id="modalMostrarComunicadoTitle"></h5>
        </div>

        <div class="modal-body">
          <p class="body-content text-justify"></p>
          <h3 class="body-error text-center"></h3>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold px-3"
            data-dismiss="modal">
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /#modalMostrarComunicado -->

  <%- include('../includes/scriptJS') %>
  <script type="text/javascript" src="/javascripts/backoffice/comunicados.js"></script>
</body>

</html>