<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/financeiro.css">
</head>

<body>
  <%- include('../includes/backoffice/header') %>
  <%- include('../includes/backoffice/aside') %>

  <main class="customMain">

    <%- include('../includes/utilities/subHeader') %>

    <section class="customSection">
      
        <%const optionsButtonsTop = [{dataTarget:"", name:'Geral',dataToggle:"modal"}]  %>
        
        <% if(usuario.tipo_usuario_id == 2 ){ %>
          
          <%optionsButtonsTop.push({dataTarget:"#modalNovaCobranca", name:'Nova cobrança',dataToggle:"modal"})  %>
          
          <% } %> 
      
      <%- include('../includes/utilities/optionsButtonsTop',{optionsButtonsTop}) %>


      <div class="card mx-auto px-0">

        <%- include('../includes/utilities/cardHeader', {nameCardHeader:"Todas as cobranças"} ) %>

        <div class="card-body row">
          <div class="col-12 d-flex align-items-center flex-column">
            <% if (listaCobrancas.length > 0) { %>

            <table class="table table-borderless table-striped table-hover table-responsive-sm">
              <caption>
                Para pagamento utilize a ação de gerar boleto
              </caption>
              <!--------------------------- Columns -------------------------------->
              <thead>
                <tr>

                  <% const colums = ['Data', 'Tipo','Título','Valor','Vencimento','Ações' ] %>
                  <%  colums.forEach(th => {%>
                  <th class="text-center" scope="col"> <%= th %> </th>
                  <%     }) %>

                </tr>
              </thead>
              <!--------------------------- End Columns -------------------------------->

              <tbody id="tableBody">
                <% listaCobrancas.forEach(cobranca => { %>
                <tr>

                  <td class="text-center align-middle">
                    <%= moment(cobranca.data).format('DD/MM/YYYY') %>
                  </td>

                  <td class="text-center align-middle">
                    <%= cobranca.tipo_cobranca.tipo %>
                  </td>

                  <td class="text-center align-middle">
                    <%= cobranca.titulo %>
                  </td>

                  <td class="text-center align-middle">
                    <%= cobranca.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }).replace('.',',') %>
                  </td>

                  <td class="text-center align-middle">
                    <%= moment(cobranca.vencimento).format('DD/MM/YYYY') %>
                  </td>

                  <td class="text-center align-middle">
                    <% if(usuario.tipo_usuario_id != 3 ){ %>
                    <a type="button" href=<%=`/backoffice/morador/financeiro/${cobranca.id}` %>  target="blank">
                      <i class="fas fa-file-invoice-dollar"></i>
                    </a>
                    <% } %> 
                    <a type="button" data-toggle="modal" data-target=<%=`#modalDescricao${cobranca.id}`%>>
                      <i class="far fa-comment-alt"></i>
                    </a>
                    <% if(usuario.tipo_usuario_id == 2 ){ %>
                      <a type="button" data-toggle="modal" data-target=<%=`#modalExcluir${cobranca.id}`%>>
                        <i class="far fa-trash-alt"></i>
                      </a>
                    <% } %> 
                  </td>

                </tr>
                <!-- Modal Descrição-->
                <div class="modal fade" id=<%=`modalDescricao${cobranca.id}`%> tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= cobranca.titulo %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= cobranca.descricao %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Descrição -->
                <!-- Modal Exclui -->
                <div class="modal fade" id=<%=`modalExcluir${cobranca.id}`%> tabindex="-1" role="dialog"
                  aria-labelledby="modalExcluirComunicadoTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header d-flex justify-content-center p-1">
                        <h5 class="modal-title" id="modalExcluirComunicadoTitle">Tem certeza?</h5>
                      </div>

                      <div class="modal-body d-flex justify-content-center">

                        <!-- =`financeiro/${cobranca.id}?_method=DELETE"`%> -->

                        <form method="post" action=<%="financeiro/" + cobranca.id +"?_method=DELETE"%>>
                          <button type="submit"
                            class="btn-sm btn-sucess border-0 rounded-pill font-weight-bold px-3 ml-2">
                            Sim
                          </button>
                        </form>
                        <button type="button" class="btn-sm btn-danger border-0 rounded-pill font-weight-bold px-3 ml-2"
                          data-dismiss="modal">
                          Não
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <!-- Modal Exclui -->
                <% }) %>
              </tbody>
            </table>
            <% } else { %>
            <h4 class="text-danger">Nenhuma cobrança foi encontrada!</h4>
            <% } %>
          </div>
          <!-- /.col-12 -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


    </section>

    <!-- Modal Nova Cobrança -->

    <div class="modal fade" id="modalNovaCobranca" tabindex="-1" role="dialog"
      aria-labelledby="modalNovoComunicadoTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center p-1">
            <h5 class="modal-title" id="modalNovoComunicadoTitle"> Criar nova cobrança</h5>
          </div>

          <form class="form-group m-0" action="/backoffice/morador/financeiro" method="POST">
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <label for="titulo">Título:</label>
                  <input required="required" id="titulo" name="titulo" type="text" class="form-control"
                    placeholder="Título">
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <label for="data">Data do evento:</label>
                  <input id="data" name="data" type="date" class="form-control" placeholder="Quando ocorreu o evento">
                </div>
                <div class="col">
                  <label for="vencimento">Vencimento:</label>
                  <input required="required" id="vencimento" name="vencimento" type="date" class="form-control"
                    placeholder="Quando terá que pagar">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="tipo_cobranca_id">Tipo de cobrança:</label>
                  <select id="tipo_cobranca_id" name="tipo_cobranca_id" class="form-control">

                    <option disabled selected>Informe</option>
                    <% resultTipo_cobranca.forEach(tipo_cobranca=> {  %>
                    <option value="<%= tipo_cobranca.id %>"><%= tipo_cobranca.tipo %></option>
                    <% }); %>

                  </select>
                </div>
                <div class="col">
                  <label for="valor">Valor:</label>
                  <input id="valor" name="valor" type="text" class="form-control" placeholder="Custo para o morador">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label for="bloco_id">Bloco:</label>
                  <select id="bloco_id" name="bloco_id" class="form-control">
                    <option disabled selected>Informe</option>
                    <% resultBloco.forEach(resultBloco => {  %>
                    <option value="<%= resultBloco.id %>"><%= resultBloco.bloco %></option>
                    <% }); %>

                  </select>
                </div>

                <div class="col">
                  <label for="apartamento_id">Ap</label>
                  <select id="apartamento_id" name="apartamento_id" class="form-control">
                    <option disabled selected>Informe</option>
                    <% resultApartamento.forEach(resultApartamento => {  %>
                    <option value="<%= resultApartamento.id %>"><%= resultApartamento.apartamento %></option>
                    <% }); %>
                  </select>
                </div>
              </div>

              <div style="margin:10px" class="row">
                <div class="col">
                  <label for="descricao">Descrição:</label>
                  <textarea id="descricao" name="descricao" placeholder="Detalhe aqui o motivo dessa cobrança"
                    class="form-control" rows="5" maxlength="1000"></textarea>
                </div>


              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" id="novoMorador" class="btn btn-primary">Gravar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- Modal Nova Cobrança -->


  </main>

  <%- include('../includes/scriptJS') %>
  <%  if(typeof(error) != 'undefined'){ %>
    <%- include('../includes/utilities/errorAlert')%>
    <%  }   %>
    
    <script type="text/javascript" src="/javascripts/backoffice/financeiro.js"></script>
</body>

</html>