<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/perfil.css">
  
</head>

<body>
  <%- include('../includes/backoffice/header')%>
  <%- include('../includes/backoffice/aside') %>
  

  <main class="customMain">

    <%- include('../includes/utilities/subHeader') %>

    <!-- Container -->
    <div class="container">

      <section class="row">
        <div class="cardMorador row no-gutters">

          <!-- Card Principal. -->
          <div id="col-fotoPerfil" class="col-md-3">
            <img src="<%= usuarios.foto %> " max-width="100" height="250" class="card-img" alt="...">
            <div class="position-absolute bg-gray-dark rounded-2 text-white px-2 py-1 left-0 bottom-0 ml-2 mb-2">
              <sv TESTE height="16" width="16" class="octicon octicon-pencil" viewBox="0 0 14 16" version="1.1"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 011.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z">
                </path></svg>

            </div>
          </div>

          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><%= usuarios.nome %></h5>
              <span id="cpf"><svg class="bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M3 8.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0 2a.5.5 0 01.5-.5h6a.5.5 0 010 1h-6a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
                  <path d="M3 5.5a.5.5 0 01.5-.5h9a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-9a.5.5 0 01-.5-.5v-1z" />
                </svg> <%= usuarios.cpf %></span> 
                  <span id="email"><svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z"
                    clip-rule="evenodd" />
                  <path
                    d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z" />

                </svg> <%= usuarios.email %> </span>

              <% telefones.forEach( (telefone,index) => { %>
              <span id="tel"><svg class="bi bi-chat-dots" width="1em" height="1em" viewBox="0 0 16 16"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z"
                    clip-rule="evenodd" />
                  <path
                    d="M5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg> <%= telefone.numero %> - <%= telefone.Tipo_telefone.tipo%> </span>

              <% }) %>


                
            
              <span id="ap"><svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                    clip-rule="evenodd" />
                    <% if(usuario.tipo_usuario_id != 3) {%>
                </svg> <%= usuarios.Apartamento.apartamento%> <%= usuarios.Bloco.bloco %></span>
              <% }else { %>
              </svg> Portaria</span>

              <%}%>

              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>



          <nav class="edicao col-md-3">
            <button type="button" class="btnCard btn btn-primary" data-toggle="modal" data-target="#btnEditarPerfil"
              data-whatever="@mdo">
              Editar Perfil </button>

            <button type="button" class="btnCard btn btn-primary" data-toggle="modal" data-target="#btnAlterarSenha"
              data-whatever="@mdo">
              Alterar Senha</button>

            <% if(usuario.tipo_usuario_id == 2) {%>
            <button type="button" class="btnCard btn btn-primary" data-toggle="modal" data-target="#btnAlterarSindico"
              data-whatever="@mdo">
              Alterar Síndico</button>
            <%}%>
</nav>
<!-- Nav Modal Btn -->
</div>
<!-- Card Principal Fim -->


<div class="row cardsAll">
<% if(usuario.tipo_usuario_id != 3) {%>

            <!-- Card Dependentes -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Dependentes
                  </div>
                  <div class="contador">
                    <%= dependentes.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Dependentes -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselExampleIndicators" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">

                    <% dependentes.forEach( (dependente,index) => { %>
                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= dependente.Usuario.foto %> " alt="First slide"
                        style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= dependente.Usuario.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Tipo: </b><%= dependente.Usuario.rg %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= dependente.Usuario.rg%></p>
                    </div>
                    <%} else { %>
                    <div class="carousel-item">
                      <img class="foto" src="<%= dependente.Usuario.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= dependente.Usuario.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Tipo: </b><%= dependente.Usuario.rg %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= dependente.Usuario.rg %></p>
                    </div>
                    <% } %>
                    <% }) %>

                  </div>


                </div>
              </div>

              <!-- Footer Card Dependentes-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

                </ol>
                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarDependenteModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal"
                    data-target="#addDependenteModal" data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirDependenteModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
              </div>
            </div>


            <!-- Card Visitantes -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Visitantes
                  </div>
                  <div class="contador">
                    <%= visitantes.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Visitantes -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselVis" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">

                    <% visitantes.forEach( (visitante,index) => { %>
                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= visitante.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= visitante.nome %> </p>
                      <p class="card-text" style="margin: 0;"><b>Tipo:</b> <%= visitante.tipo %> </p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= visitante.rg %> </p>
                    </div>
                    <%} else { %>
                    <div class="carousel-item">
                      <img class="foto" src="<%= visitante.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= visitante.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Tipo: </b> <%= visitante.tipo %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= visitante.rg %></p>
                    </div>
                    <% } %>
                    <% }) %>
                  </div>



                </div>
              </div>

              <!-- Footer Card Visitantes-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselVis" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselVis" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselVis" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselVis" data-slide-to="1"></li>
                  <li data-target="#carouselVis" data-slide-to="2"></li>

                </ol>
                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarVisitanteModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal" data-target="#addVisitanteModal"
                    data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirVisitanteModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
              </div>
            </div>

            <!-- Card Funcionários -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Funcionários
                  </div>
                  <div class="contador">
                    <%= funcionarios.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Funcionários -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselFunc" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">

                    <% funcionarios.forEach( (funcionario,index) => { %>
                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= funcionario.foto %>" alt="First slide"
                        style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"> <%= funcionario.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Tipo: </b> <%= funcionario.tipo %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= funcionario.rg%></p>
                    </div>
                    <% } else { %>
                    <div class="carousel-item">
                      <img class="foto" src="<%= funcionario.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"> <%= funcionario.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Tipo: </b> <%= funcionario.tipo %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg: </b> <%= funcionario.rg %></p>
                    </div>
                    <% } %>


                    <% }) %>

                  </div>


                </div>
              </div>

              <!-- Footer Card Funcionários-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselFunc" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselFunc" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselFunc" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselFunc" data-slide-to="1"></li>
                  <li data-target="#carouselFunc" data-slide-to="2"></li>

                </ol>
                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarFuncionarioModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal"
                    data-target="#addFuncionarioModal" data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirFuncionarioModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
              </div>
            </div>


            <!-- Card Veículos -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Veículos
                  </div>
                  <div class="contador">
                    <%= veiculos.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Veículos -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselVeic" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">


                    <% veiculos.forEach( (veiculo,index) => { %>

                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= veiculo.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= veiculo.modelo %> </p>
                      <p class="card-text" style="margin: 0;"><b>Placa: </b><%= veiculo.placa %></p>
                      <p class="card-text" style="margin: 0;"><b>Cor: </b> <%= veiculo.cor %></p>
                    </div>
                    <% } else { %>
                    <div class="carousel-item ">
                      <img class="foto" src="<%= veiculo.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= veiculo.modelo %> </p>
                      <p class="card-text" style="margin: 0;"><b>Placa: </b><%= veiculo.placa %></p>
                      <p class="card-text" style="margin: 0;"><b>Cor: </b> <%= veiculo.cor %></p>
                    </div>
                    <% } %>


                    <% }) %>

                  </div>


                </div>
              </div>

              <!-- Footer Card Veículos-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselVeic" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselVeic" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselVeic" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselVeic" data-slide-to="1"></li>
                  <li data-target="#carouselVeic" data-slide-to="2"></li>

                </ol>
                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarVeiculoModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal" data-target="#addVeiculoModal"
                    data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirVeiculoModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
              </div>
            </div>


            <!-- Card Pets -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Pets
                  </div>
                  <div class="contador">
                    <%= pets.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Pets -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselPet" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">

                    <% pets.forEach( (pet,index) => { %>

                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= pet.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= pet.nome %> </p>
                      <p class="card-text" style="margin: 0;"><b>Espécie: </b><%= pet.especie %></p>
                      <p class="card-text" style="margin: 0;"><b>Porte: </b> <%= pet.porte %></p>
                    </div>
                    <% } else { %>
                    <div class="carousel-item ">
                      <img class="foto" src="<%= pet.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= pet.nome %> </p>
                      <p class="card-text" style="margin: 0;"><b>Espécie: </b><%= pet.especie %></p>
                      <p class="card-text" style="margin: 0;"><b>Porte: </b> <%= pet.porte %></p>
                    </div>
                    <% } %>


                    <% }) %>
                  </div>


                </div>
              </div>

              <!-- Footer Card Pets-->
              <div class="card-footer ">
                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselPet" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselPet" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                  <li data-target="#carouselPet" data-slide-to="0 " class="active"></li>
                  <li data-target="#carouselPet" data-slide-to="1"></li>
                  <li data-target="#carouselPet" data-slide-to="2"></li>

                </ol>



                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarPetModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal" data-target="#addPetModal"
                    data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirPetModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>

              </div>
            </div>

            <!-- Fim pets-->


            <% if(usuario.tipo_usuario_id == 2) {%>
            <!-- Card Empresas -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Empresas
                  </div>
                  <div class="contador">
                    <%= empresas.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Dependentes -->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselEmpresa" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">

                    <% empresas.forEach( (empresa,index) => { %>

                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                      <img class="foto" src="<%= empresa.foto %>" alt="First slide" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= empresa.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>Cnpj: </b><%= empresa.cnpj %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg Resp.: </b><%= empresa.rg %></p>
                    </div>

                    <% } else { %>
                    <div class="carousel-item">
                      <img class="foto" src="<%= empresa.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= empresa.nome %></p>
                      <p class="card-text" style="margin: 0;"><b>CNPJ: </b><%= empresa.cnpj %></p>
                      <p class="card-text" style="margin: 0;"><b>Rg Resp.: </b><%= empresa.rg %></p>
                    </div>
                    <% } %>


                    <% }) %>
                  </div>


                </div>
              </div>

              <!-- Footer Card Empresas-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselEmpresa" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselEmpresa" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselEmpresa" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselEmpresa" data-slide-to="1"></li>
                  <li data-target="#carouselEmpresa" data-slide-to="2"></li>

                </ol>

                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarEmpresaModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal" data-target="#addEmpresaModal"
                    data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirEmpresaModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
              </div>
            </div>


            <!-- Card Compromissos -->
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="card-header">
                <div class="row footerTexto">
                  <div>
                    Compromissos
                  </div>
                  <div class="contador">
                    <%= compromissos.length %>
                  </div>

                </div>
              </div>

              <!-- Body Card Compromissos-->
              <div class="card-caixa card-body text-center">
                <!-- Carrosel Body -->
                <div id="carouselComp" class="carousel slide" data-interval="0">
                  <div class="carousel-inner">


                    <% compromissos.forEach( (compromisso,index) => { %>

                    <% if(index == 0){ %>
                    <div class="carousel-item active ">
                      <img class="foto" src="<%= compromisso.foto %> " alt="First slide"
                        style=" width:120 ; height: 80px;">

                      <p class="card-title " style="margin: 0;"><%= compromisso.compromisso %> </p>
                      <p class="card-text" style="margin: 0;"><b>Data: </b>
                        <%= moment(compromisso.data).format('l  LT') %> </p>
                      <p class="card-text" style="margin: 0;"><b>Local: </b> <%= compromisso.local %> </p>
                    </div>
                    <% } else { %>
                    <div class="carousel-item">
                      <img class="foto" src="<%= compromisso.foto %>" alt="" style=" width:120 ; height: 80px;">

                      <p class="card-title" style="margin: 0;"><%= compromisso.compromisso %> </p>
                      <p class="card-text" style="margin: 0;"><b>Data:
                        </b><%= moment(compromisso.data).format('l  LT') %></p>
                      <p class="card-text" style="margin: 0;"><b>Local: </b><%= compromisso.local %> </p>
                    </div>
                    <% } %>


                    <% }) %>
                  </div>


                </div>
              </div>

              <!-- Footer Card Compromissos-->
              <div class="card-footer ">

                <ol class="carousel-indicators">
                  <a class="carousel-control-prev" href="#carouselComp" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselComp" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <li data-target="#carouselComp" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselComp" data-slide-to="1"></li>
                  <li data-target="#carouselComp" data-slide-to="2"></li>

                </ol>
                <div class="botoesCaixa row ">

                  <nav class="btnEditar">
                    <svg type="button" data-toggle="modal" data-target="#editarCompromissoModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>editar</p>
                  </nav>

                  <button type="button" class="btnNovo btn-primary" data-toggle="modal"
                    data-target="#addCompromissoModal" data-whatever="@mdo">Novo</button>

                  <nav class="btnExcluir">
                    <svg type="button" data-toggle="modal" data-target="#excluirCompromissoModal"
                      class="btnIcon bi bi-card-heading" width="1em" height="1em" viewBox="0 0 16 16"
                      fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        clip-rule="evenodd" />
                    </svg>
                    <p>excluir</p>

                  </nav>

                </div>
                <%}%>
              </div>
            </div>





        </div>
        <%}%>


      </section>
    </div>
    <!-- Container -->
  </main>

  <%- include('../includes/scriptJS')%>


</body>



























<!-- Modais -->


<div class="modal fade " id="btnEditarPerfil" tabindex="-1" role="dialog" aria-labelledby="btnEditarPerfil"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="btnEditarPerfil">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/backoffice/morador/perfis/editarPerfil/<%=usuario.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <div class="form-group">
            <label for="emailPerfil" class="col-form-label">Novo Email</label>
            <input type="email" class="form-control" name="emailPerfil" id="emailPerfil" placeholder="Novo Email">
            <p>* Seu novo e-mail será seu novo login</p>
          </div>
          <div class="form-group">
            <label for="fotoPerfil">Foto</label>
            <input type="file" class="form" name="fotoPerfil" id="fotoPerfil">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Perfil Cartao fim -->

<div class="modal fade" id="btnAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="btnAlterarSenha"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="btnAlterarSenha">Alterar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/backoffice/morador/perfis/editar/<%=usuario.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <div class="form-group">
            <label for="novaSenha" class="col-form-label">Nova Senha</label>
            <input type="password" class="form-control" name="novaSenha" id="novaSenha" placeholder="Nova Senha">
          </div>
          <div class="form-group">
            <label for="senhaAtual" class="col-form-label">Senha Atual</label>
            <input type="password" class="form-control" name="senhaAtual" id="senhaAtual" placeholder="Senha Atual">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>

      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Alterar Senha Cartao fim -->


<div class="modal fade " id="btnAlterarSindico" tabindex="-1" role="dialog" aria-labelledby="btnAlterarSindico"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="btnAlterarSindico">Alterar Síndico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="emailNovoSindico" class="col-form-label">Email Cadastrado</label>
            <input type="email" class="form-control" name="emailNovoSindico" id="emailNovoSindico"
              placeholder="Email Cadastrado">
          </div>
          <div class="form-group">
            <label for="cpfNovoSindico" class="col-form-label">CPF Cadastrado</label>
            <input type="number" class="form-control" name="cpfNovoSindico" id="cpfNovoSindico"
              placeholder="Cpf Cadastrado">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Alterar Síndico</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal Alterar Sindico Cartao fim -->






<div class="modal fade" id="addDependenteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Dependente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/dependentes" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomeDependente" class="col-form-label">Nome</label>
            <input type="text" class="form-control" name="nomeDependente" id="nomeDependente" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="emailDependente" class="col-form-label">E-mail</label>
            <input type="email" class="form-control" name="emailDependente" id="emailDependente" placeholder="E-mail">
            *login de acesso
          </div>
          <div class="form-group">
            <label for="cpfDependente" class="col-form-label">CPF</label>
            <input type="text" class="form-control" name="cpfDependente" id="cpfDependente" placeholder="Cpf">
            *senha de acesso padrão
          </div>
          <div class="form-group">
            <label for="rgDependente" class="col-form-label">RG</label>
            <input type="text" class="form-control" name="rgDependente" id="rgDependente" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="fotoDependente">Foto</label>
            <input type="file" class="form" name="fotoDependente" id="fotoDependente">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarDependenteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Dependente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% dependentes.forEach(dependente =>{ %>
        <form action="/backoffice/morador/dependentes/editar/<%=dependente.Usuario.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div>
            <label for="nomeDependente" class="col-form-label">Editar Nome</label>
            <input type="text" class="form-control" name="nomeDependente" id="nomeDependente" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="emailDependente" class="col-form-label">Editar E-mail</label>
            <input type="email" class="form-control" name="emailDependente" id="emailDependente" placeholder="E-mail">
            *login de acesso
          </div>
          <div class="form-group">
            <label for="cpfDependente" class="col-form-label">Editar CPF</label>
            <input type="text" class="form-control" name="cpfDependente" id="cpfDependente" placeholder="Cpf">
            *senha de acesso padrão
          </div>
          <div class="form-group">
            <label for="rgDependente" class="col-form-label">Editar RG</label>
            <input type="text" class="form-control" name="rgDependente" id="rgDependente" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="fotoDependente">Editar Foto</label>
            <input type="file" class="form" name="fotoDependente" id="fotoDependente">
          </div>



          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirDependenteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Dependente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este dependente?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% dependentes.forEach(dependente =>{ %>
        <form action="/backoffice/morador/dependentes/delete/<%= dependente.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Dependentes Fim-->



<div class="modal fade" id="addVisitanteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVisitanteModal">Novo Visitante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/visitantes" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomeVisitante" class="col-form-label">Nome</label>
            <input type="text" class="form-control" name="nomeVisitante" id="nomeVisitante" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="tipoVisitante" class="col-form-label">Tipo</label>
            <input type="text" class="form-control" name="tipoVisitante" id="tipoVisitante"
              placeholder="Ex: filho, mãe, etc.">
          </div>
          <div class="form-group">
            <label for="rgVisitante" class="col-form-label">RG</label>
            <input type="text" class="form-control" name="rgVisitante" id="rgVisitante" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="fotoVisitante">Foto</label>
            <input type="file" class="form" name="fotoVisitante" id="fotoVisitante">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarVisitanteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Visitante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% visitantes.forEach(visitante =>{ %>

        <form action="/backoffice/morador/visitantes/editar/<%=visitante.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="nomeVisitante" class="col-form-label">Editar Nome</label>
            <input type="text" class="form-control" name="nomeVisitante" id="nomeVisitante" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="tipoVisitante" class="col-form-label">Editar Tipo</label>
            <input type="text" class="form-control" name="tipoVisitante" id="tipoVisitante"
              placeholder="Ex: filho, mãe, etc.">
          </div>
          <div class="form-group">
            <label for="rgVisitante" class="col-form-label">Editar RG</label>
            <input type="text" class="form-control" name="rgVisitante" id="rgVisitante" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="fotoVisitante">Alterar Foto</label>
            <input type="file" class="form" name="fotoVisitante" id="fotoVisitante">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirVisitanteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Visitante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Visitante?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% visitantes.forEach(visitante =>{ %>
        <form action="/backoffice/morador/visitantes/delete/<%= visitante.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Visitantes Fim-->


<div class="modal fade" id="addFuncionarioModal" tabindex="-1" role="dialog" aria-labelledby="addFuncionarioModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFuncionarioModal">Novo Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/funcionarios" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomeFuncionario" class="col-form-label"> Nome</label>
            <input type="text" class="form-control" name="nomeFuncionario" id="nomeFuncionario" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="tipoFuncionario" class="col-form-label"> Tipo</label>
            <input type="text" class="form-control" name="tipoFuncionario" id="tipoFuncionario"
              placeholder="Ex: Pintor, Diárista">
          </div>
          <div class="form-group">
            <label for="rgFuncionario" class="col-form-label"> RG</label>
            <input type="text" class="form-control" name="rgFuncionario" id="rgFuncionario" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="cpfFuncionario" class="col-form-label"> CPF</label>
            <input type="text" class="form-control" name="cpfFuncionario" id="cpfFuncionario" placeholder="CPF">
          </div>
          <div class="form-group">
            <label for="empresaFuncionario" class="col-form-label"> Empresa</label>
            <input type="text" class="form-control" name="empresaFuncionario" id="empresaFuncionario"
              placeholder="Empresa">
          </div>
          <div class="form-group">
            <label for="fotoFuncionario">Foto</label>
            <input type="file" class="form" name="fotoFuncionario" id="fotoFuncionario">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarFuncionarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% funcionarios.forEach(funcionario =>{ %>

        <form action="/backoffice/morador/funcionarios/editar/<%=funcionario.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="nomeFuncionario" class="col-form-label">Editar Nome</label>
            <input type="text" class="form-control" name="nomeFuncionario" id="nomeFuncionario" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="tipoFuncionario" class="col-form-label">Editar Tipo</label>
            <input type="text" class="form-control" name="tipoFuncionario" id="tipoFuncionario"
              placeholder="Ex: Pintor, Diárista">
          </div>
          <div class="form-group">
            <label for="rgFuncionario" class="col-form-label">Editar RG</label>
            <input type="text" class="form-control" name="rgFuncionario" id="rgFuncionario" placeholder="Rg">
          </div>
          <div class="form-group">
            <label for="cpfFuncionario" class="col-form-label">Editar CPF</label>
            <input type="text" class="form-control" name="cpfFuncionario" id="cpfFuncionario" placeholder="CPF">
          </div>
          <div class="form-group">
            <label for="empresaFuncionario" class="col-form-label">Editar Empresa</label>
            <input type="text" class="form-control" name="empresaFuncionario" id="empresaFuncionario"
              placeholder="Empresa">
          </div>
          <div class="form-group">
            <label for="fotoFuncionario">Alterar Foto</label>
            <input type="file" class="form" name="fotoFuncionario" id="fotoFuncionario">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirFuncionarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Funcionário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Funcionário?
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% funcionarios.forEach(funcionario =>{ %>
        <form action="/backoffice/morador/funcionarios/delete/<%= funcionario.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Funcionarios Fim-->


<div class="modal fade" id="addVeiculoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVeiculoModal">Novo Veículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/veiculos" enctype="multipart/form-data">
          <div class="form-group">
            <label for="modeloVeiculo" class="col-form-label">Modelo</label>
            <input type="text" class="form-control" name="modeloVeiculo" id="modeloVeiculo" placeholder="Modelo">
          </div>
          <div class="form-group">
            <label for="placaVeiculo" class="col-form-label">Placa</label>
            <input type="text" class="form-control" name="placaVeiculo" id="placaVeiculo" placeholder="Ex: AAA-XXXX">
          </div>
          <div class="form-group">
            <label for="corVeiculo" class="col-form-label">Cor</label>
            <input type="text" class="form-control" name="corVeiculo" id="corVeiculo" placeholder="Cor">
          </div>
          <div class="form-group">
            <label for="fotoVeiculo">Foto</label>
            <input type="file" class="form" name="fotoVeiculo" id="fotoVeiculo">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarVeiculoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Veiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <% veiculos.forEach(veiculo =>{ %>
        <form action="/backoffice/morador/veiculos/editar/<%=veiculo.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="modeloVeiculo" class="col-form-label">Editar Modelo</label>
            <input type="text" class="form-control" name="modeloVeiculo" id="modeloVeiculo" placeholder="modeloVeiculo">
          </div>
          <div class="form-group">
            <label for="placaVeiculo" class="col-form-label">Editar Placa</label>
            <input type="text" class="form-control" name="placaVeiculo" id="placaVeiculo" placeholder="Ex: AAA-XXXX">
          </div>
          <div class="form-group">
            <label for="corVeiculo" class="col-form-label">Editar Cor</label>
            <input type="text" class="form-control" name="corVeiculo" id="corVeiculo" placeholder="cor">
          </div>
          <div class="form-group">
            <label for="fotoVeiculo">Alterar Foto</label>
            <input type="file" class="form" name="fotoVeiculo" id="fotoVeiculo">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirVeiculoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Veículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Veiculo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% veiculos.forEach(veiculo =>{ %>
        <form action="/backoffice/morador/veiculos/delete/<%= veiculo.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>


      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Veiculos Fim-->


<div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/pets" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomePet" class="col-form-label">Nome</label>
            <input type="text" class="form-control" name="nomePet" id="nomePet" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="especiePet" class="col-form-label">Espécie</label>
            <input type="text" class="form-control" name="especiePet" id="especiePet" placeholder="Ex: cachorro.">
          </div>
          <div class="form-group">
            <label for="portePet" class="col-form-label">Porte</label>
            <input type="text" class="form-control" name="portePet" id="portePet" placeholder="porte">
          </div>
          <div class="form-group">
            <label for="fotoPet">Foto</label>
            <input type="file" class="form" name="fotoPet" id="fotoPet">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarPetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <% pets.forEach(pet =>{ %>

        <form action="/backoffice/morador/pets/editar/<%=pet.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="nomePet" class="col-form-label">Editar Nome</label>

            <input type="text" class="form-control" name="nomePet" id="nomePet" placeholder="Nome">


          </div>
          <div class="form-group">
            <label for="especiePet" class="col-form-label">Editar Espécie</label>
            <input type="text" class="form-control" name="especiePet" id="especiePet" placeholder="Ex: cachorro">
          </div>
          <div class="form-group">
            <label for="portePet" class="col-form-label">Editar Porte</label>
            <input type="text" class="form-control" name="portePet" id="portePet" placeholder="Porte">
          </div>
          <div class="form-group">
            <label for="fotoPet">Alterar Foto</label>
            <input type="file" class="form" name="fotoPet" id="fotoPet">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirPetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Pet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>

        <% pets.forEach(pet =>{ %>
        <form action="/backoffice/morador/pets/delete/<%= pet.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Pets Fim-->









<div class="modal fade" id="addEmpresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/empresas" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomeEmpresa" class="col-form-label">Empresa</label>
            <input type="text" class="form-control" name="nomeEmpresa" id="nomeEmpresa" placeholder="Nome da Empresa">
          </div>
          <div class="form-group">
            <label for="cnpjEmpresa" class="col-form-label">Cnpj da empresa</label>
            <input type="text" class="form-control" name="cnpjEmpresa" id="cnpjEmpresa" placeholder="Cnpj">
          </div>
          <div class="form-group">
            <label for="rgEmpresa" class="col-form-label">Rg do Responsável</label>
            <input type="text" class="form-control" name="rgEmpresa" id="rgEmpresa"
              placeholder="RG do Responsável pelo serviço">
          </div>
          <div class="form-group">
            <label for="fotoEmpresa">Foto</label>
            <input type="file" class="form" name="fotoEmpresa" id="fotoEmpresa">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarEmpresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% empresas.forEach(empresa =>{ %>

        <form action="/backoffice/morador/empresas/editar/<%=empresa.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="nomeEmpresa" class="col-form-label">Editar Empresa</label>
            <input type="text" class="form-control" name="nomeEmpresa" id="nomeEmpresa" placeholder="Nome Empresa">
          </div>
          <div class="form-group">
            <label for="cnpjEmpresa" class="col-form-label">Cnpj</label>
            <input type="text" class="form-control" name="cnpjEmpresa" id="cnpjEmpresa" placeholder="CNPJ">
          </div>
          <div class="form-group">
            <label for="rgEmpresa" class="col-form-label">Rg</label>
            <input type="text" class="form-control" name="rgEmpresa" id="rgEmpresa"
              placeholder="Rg - Responsável pelo Serviço">
          </div>
          <div class="form-group">
            <label for="fotoEmpresa">Alterar Foto</label>
            <input type="file" class="form" name="fotoEmpresa" id="fotoEmpresa">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirEmpresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exempleModalLabel">Excluir Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Empresa?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% empresas.forEach(empresa =>{ %>
        <form action="/backoffice/morador/empresas/delete/<%= empresa.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Empresas Fim-->



<div class="modal fade" id="addCompromissoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCompromissoModal">Novo Compromisso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/compromissos" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nomeCompromisso" class="col-form-label">Compromisso</label>
            <input type="text" class="form-control" name="nomeCompromisso" id="nomeCompromisso"
              placeholder="Ex: Reunião Cond.">
          </div>
          <div class="form-group">
            <label for="dataCompromisso" class="col-form-label">Data e Hora</label>
            <input type="datetime-local" class="form-control" name="dataCompromisso" id="dataCompromisso"
              placeholder="Ex: 20/10/2020 19h">
          </div>
          <div class="form-group">
            <label for="localCompromisso" class="col-form-label">Local</label>
            <input type="text" class="form-control" name="localCompromisso" id="localCompromisso"
              placeholder="Ex: Salão de Festas">
          </div>
          <div class="form-group">
            <label for="fotoCompromisso">Foto</label>
            <input type="file" class="form" name="fotoCompromisso" id="fotoCompromisso">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Add Fim-->

<div class="modal fade" id="editarCompromissoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Compromisso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% compromissos.forEach(compromisso =>{ %>

        <form action="/backoffice/morador/compromissos/editar/<%=compromisso.id%>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <div class="form-group">
            <label for="nomeCompromisso" class="col-form-label">Editar Compromisso</label>
            <input type="text" class="form-control" name="nomeCompromisso" id="nomeCompromisso" placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="tipoCompromisso" class="col-form-label">Editar Data e Hora</label>
            <input type="datetime-local" class="form-control" name="tipoCompromisso" id="tipoCompromisso"
              placeholder="Ex: 20/10/2020 19h">
          </div>
          <div class="form-group">
            <label for="rgCompromisso" class="col-form-label">Editar Local</label>
            <input type="text" class="form-control" name="rgCompromisso" id="rgCompromisso"
              placeholder="Ex: Churrasqueira">
          </div>
          <div class="form-group">
            <label for="fotoCompromisso">Alterar Foto</label>
            <input type="file" class="form" name="fotoCompromisso" id="fotoCompromisso">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Incluir</button>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal Editar Fim-->


<div class="modal fade" id="excluirCompromissoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="excluirCompromissoModal">Excluir Compromisso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja excluir este Compromisso?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <% compromissos.forEach(compromisso =>{ %>
        <form action="/backoffice/morador/compromissos/delete/<%= compromisso.id %>?_method=DELETE" method="POST"
          enctype="multipart/form-data">
          <% }) %>
          <button type="submit" class="btn btn-primary">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir Fim-->

<!-- Modais Compromissos Fim-->