<!DOCTYPE html>
<html lang="en">
 
<head>
  <%- include('../../includes/head', {titulo: titulo}) %>

  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/dashboard.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
</head>

<body>
  <%- include('../../includes/backoffice/header',{usuario}) %>
  <%- include('../../includes/backoffice/aside') %>
  <div class="container-flex" >
    <main class="conteudo container-flex">
      <h1 class="col-md-12">DashBoard</h1>

        <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Comunicados</div>
        <div class="qtd col-1 col-md-2"><%=comunicados.length%></div>
      </span>

      <div class="corpo row col-md-12 scroll-texto"  id="texto_comunicados"><%=comunicados.length!=0?comunicados[0].mensagem:"Nenhum dado a ser exibido"%></div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/comunicados'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4" id="regredir_comunicados"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4" id="iniciar_comunicados"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_comunicados"><a class= href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>

    <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Ocorrencias</div>
        <div class="qtd col-1 col-md-2"><%=ocorrencias.length%></div>
      </span>

      <div class="corpo row col-md-12 scroll-texto" id="texto_ocorrencias"><%=ocorrencias.length!=0?ocorrencias[0].mensagem:"Nenhum dado a ser exibido"%></div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/ocorrencias'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4 " id="regredir_ocorrencias"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4" id="iniciar_ocorrencias"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_ocorrencias"><a href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>

    <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Encomendas</div>
        <div class="qtd col-1 col-md-2"><%=encomendas.length%></div>
      </span>

      <div class="corpo row col-md-12 scroll-texto" id="texto_encomendas"><%=encomendas.length!=0?encomendas[0].descricao:"Nenhum dado a ser exibido"%></div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/correspondencias'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4" id="regredir_encomendas"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4" id="iniciar_encomendas"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_encomendas"><a href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>

    <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Multas</div>
        <div class="qtd col-1 col-md-2"><%=multas.length%></div>
      </span>

      <div class="corpo row col-md-12 scroll-texto" id="texto_multas"><%=multas.length!=0?multas[0].descricao:"Nenhum dado a ser exibido"%></div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/ocorrencias'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4" id="regredir_multas"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4 " id="iniciar_multas"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_multas"><a href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>

    <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Notificações</div>
        <div class="qtd col-1 col-md-2"><%=notificacoes.length%></div>
      </span>

      <div class="corpo row col-md-12 scroll-texto" id="texto_notificacoes"><%=notificacoes.length!=0?notificacoes[0].descricao:"Nenhum dado a ser exibido"%></div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/ocorrencias'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4" id="regredir_notificacoes"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4" id="iniciar_notificacoes"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_notificacoes"><a href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>

    <div class="col-md-3 caixa">
      <span class="head row">
        <div class="subtitulo col-1 col-md-10">Financeiro</div>
        <div class="qtd col-1 col-md-2">0</div>
      </span>

      <div class="corpo row col-md-12 scroll-texto" id="texto_financeiro">Nenhum dado a ser exibido</div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary  col-md-5" onclick="location.href='/backoffice/morador/financeiro'">Detalhes</button>
        
      </div>
      <div class="rodape row ">
        
        <div class="rotape col-1 col-md-4" id="regredir_financeiro"><a href="" onclick="return false;"><i class="fa fa-chevron-left" style="font-size:36px"></i></a></div>
        <div class="rotape col-1 col-md-4"><a href="" onclick="return false;"><i class="material-icons" style="font-size:36px">fiber_manual_record</i></a></div>
        <div class="rotape col-1 col-md-4" id="avancar_financeiro"><a href="" onclick="return false;"><i class="fa fa-chevron-right" style="font-size:36px"></i></a></div>
      </div>

    </div>
  </main>
  <div id="comunicados" style='display: none;'><%=JSON.stringify(comunicados)%></div>
  <div id="ocorrencias" style='display: none;'><%=JSON.stringify(ocorrencias)%></div>
  <div id="encomendas" style='display: none;'><%=JSON.stringify(encomendas)%></div>
  <div id="notificacoes" style='display: none;'><%=JSON.stringify(notificacoes)%></div>
  <div id="multas" style='display: none;'><%=JSON.stringify(multas)%></div>
  <script src="/javascripts/backoffice/dashboard.js"></script>

 

</body>

</html>