<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../../includes/head', {titulo: titulo}) %>

    <link rel="stylesheet" href="/css/backoffice/layout.css">
    <link rel="stylesheet" href="/css/backoffice/financeiro.css">
  </head>

  <body>
    <%- include('../../includes/backoffice/header') %>
    <%- include('../../includes/backoffice/aside') %>

    <main class="container-fluid mx-0 pt-2">

      <div class="row">
        <h1 class="pl-3">Financeiro</h1>
      </div>
      <div class="d-flex offset-md-2 offset-1 p-4">

        <div class="row flex-nowrap">
          <div class="col-3 offset-1 offset-md-2  p-0">
            <button id="btnNotificacoes" type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
            data-toggle="modal" data-target="#modalNotificacoes">Geral </button>
          </div>
          <div class="col-6 offset-1  p-0">
            <button id="btnNotificacoes" type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
            data-toggle="modal" data-target="#modalNotificacoes">Taxas de condomínio </button>
          </div>
          <div class="col-3 offset-1 p-0">
            <button id="btnNotificacoes" type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
            data-toggle="modal" data-target="#modalNotificacoes">Multas</button>
          </div>
          <div class="col-3 offset-1 p-0">
            <button id="btnNotificacoes" type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold"
            data-toggle="modal" data-target="#modalNotificacoes">Notificações</button>
          </div>
       
      </div>
      
    </div>

    <section class="row">
      <div class="card col-10 col-md-8 offset-1 offset-md-2 px-0">
        <div class="card-header d-flex justify-content-center w-100 p-0">
          <h5 class="m-0 p-1">Todas as cobranças</h5>
        </div>
        <div class="card-body row">
          <div class="col-12 d-flex align-items-center flex-column">
            <% if (listaCobrancas.length > 0) { %>
              <span id="obs" class="align-self-start ">* Para visualizar o comunicado completo basta clicar em seu título</span>
              <table class="table table-borderless table-striped table-hover table-responsive-sm">
                <caption>
                  Comunicad
                </caption>
 <!--------------------------- Colunas -------------------------------->
              <thead>
                <tr>
                  <th class="text-center" scope="col">
                    Data
                  </th>
                  <th class="text-center" scope="col">
                    Tipo
                  </th>
                  <th class="text-center" scope="col">
                    Título
                  </th>
                  <th class="text-center" scope="col">
                    Valor
                  </th>
                  <th class="text-center" scope="col">
                    Vencimento
                  </th>
                  <th class="text-center" scope="col">
                    Ações
                  </th>
                </tr>
              </thead>
                <!--------------------------- Colunas -------------------------------->

                <tbody id="tableBody">
                  <% listaCobrancas.forEach(cobranca => { %>
                    <tr>

                      <td class="text-center align-middle">
                        <%= moment(cobranca.data).format('DD/MM/YYYY') %>
                      </td>

                      <td class="text-center align-middle">
                        <%= cobranca.tipo_cobranca_id %>
                      </td>

                      <td class="text-center align-middle">
                        <%= cobranca.titulo %>
                      </td>

                      <td class="text-center align-middle">
                        <%= cobranca.valor %>
                      </td>

                      <td class="text-center align-middle">
                        <%= moment(cobranca.vencimento).format('DD/MM/YYYY') %>
                      </td>

                      <td class="text-center align-middle">
                        <a id="editarComunicado<%= 'comunicado.id' %>" class="text-primary text-decoration-none" data-target="#modalEditarComunicado"
                          data-id="<%= 'comunicado.id' %>" title="Editar Comunicado">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a id="excluirComunicado<%= 'comunicado.id' %>" class="text-danger ml-3" data-id="<%= 'comunicado.id' %>" title="Excluir Comunicado">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>

                    </tr>

                  <% }) %>
                </tbody>
              </table>
            <% } else { %>
              <h4 class="text-danger">Nenhum comunicado foi encontrado!</h4>
            <% } %>
          </div>
          <!-- /.col-12 -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>

    </main>

    <!-- Modal Notificações -->
    <!-- <div class="modal fade" id="modalNotificacoes" tabindex="-1" role="dialog" aria-labelledby="modalNotificacoesTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title" id="modalNotificacoesTitle">Multas e Notificações</h5>
          </div>

          <div class="modal-body">
            <h6>* <u>Multa - 26/04/20</u></h6>
            <p class="pl-3">Multa referente ao mal uso dos elevadores sociais do condomínio.
              Para descer com lixo até sua área de coleta é necessário utilizar os elevadores de serviços.
            </p>
            <hr>
            <h6>* <u>Título da notificação</u></h6>
            <p class="pl-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Eget est lorem ipsum dolor.
               Sit amet est placerat in egestas erat imperdiet.
               Faucibus et molestie ac feugiat.
               Urna nec tincidunt praesent semper feugiat nibh sed pulvinar.
               Enim neque volutpat ac tincidunt vitae semper quis.
               Pulvinar neque laoreet suspendisse interdum.
            </p>
            <hr>
            <h6>* <u>Título da notificação</u></h6>
            <p class="pl-3">Semper feugiat nibh sed pulvinar proin.
              Consectetur purus ut faucibus pulvinar elementum.
              Mi proin sed libero enim sed faucibus turpis in.
              Viverra tellus in hac habitasse platea dictumst vestibulum.
              Ultrices dui sapien eget mi proin.
              Euismod elementum nisi quis eleifend.
              Tincidunt id aliquet risus feugiat in ante metus.
            </p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn-sm btn-orange border-0 rounded-pill font-weight-bold" data-dismiss="modal">
              Voltar
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- /#modalNotificacoes -->

    <%- include('../../includes/scriptJS') %>
    <script type="text/javascript" src="/javascripts/backoffice/financeiro.js"></script>
  </body>
</html>