<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../../includes/head', {titulo: titulo}) %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/backoffice/layout.css">
  <link rel="stylesheet" href="/css/backoffice/ocorrenciasMorador.css">
</head>

<body>
  <%- include('../../includes/backoffice/header') %>
  <%- include('../../includes/backoffice/aside') %>

  <main>
    <h1>Ocorrências</h1>

    <div class="container-flex col-12 col-md-8 offset-1 offset-md-2 px-0">
      <% if(usuario.tipo_usuario_id != 2) {%>
      <button type="button" class="btnNova btn btn-primary" data-toggle="modal" data-target="#novaOcorrenciaModal"
        data-whatever="@mdo">
        Nova Ocorrência</button>
    <% } %> 

      <div class="card-header r w-100 p-0">
        <h1></h1>
        <h5 class="m-0 p-1">Status/Histórico</h5>
        <button type="button" class="btnFiltro btn-primary" data-toggle="modal" data-target="#filtroModal"
          data-whatever="@mdo">
          +Filtro
        </button>
      </div>

      <div class="table-responsive">
        <table class="table table-borderless table-striped table-hover">

          <thead>
            <tr class="info">
              <th scope="col">Título</th>
              <th scope="col">Tipo</th>
              <th scope="col">Status</th>
              <th scope="col">Data</th>
              <th scope="col">Detalhes </th>
            </tr>
          </thead>
          <tbody>
            <% listaOcorrencias.forEach(ocorrencia=>{ %>
            <tr>
              <td> <%= ocorrencia.titulo %> </td>
              <td><%= ocorrencia.Tipo_ocorrencium.tipo %></td>
              <td><%= ocorrencia.Status_ocorrencium.status %></td>
              <td><%= moment(ocorrencia.created_at).format('DD/MM/YYYY');  %></td>
              <td><button type="button" class="detalhes btn btn-primary" data-toggle="modal"
                  data-target="#detalhes1Modal" data-id="<%= ocorrencia.id %>">
                  + </button></td>
            </tr>
          <% }) %>
           



          </tbody>
        </table>
      </div>

    </div>

  </main>
  <%- include('../../includes/scriptJS') %>
  <script src="/javascripts/backoffice/ocorrencias.js"></script>
</body>

</html>




<!--Modais Estruturas -->

<% if(usuario.tipo_usuario_id != 2) {%>
<!--Nova Ocorrência Modal -->
<div class="modal fade" id="novaOcorrenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Ocorrência</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/backoffice/morador/ocorrenciasMorador" enctype="multipart/form-data">
          <div class="formulario">
            <div class="form-group">
              <label for="tituloOcorrencia">Título:</label>
              <input type="text" class="form-control" name="tituloOcorrencia" id="tituloOcorrencia" placeholder="Ex: Lâmpada Queimada">
            </div>

            <div>
              <label for="tipoOcorrencia">Tipo:</label>
            </div>

        

            <div class="form-check form-check-inline">
              <input class="checkgroup form-check-input" type="checkbox" name="tipoOcorrencia" id="tipoOcorrencia" value="1">
              <label class="form-check-label" for="tipoOcorrencia" style="font-weight: normal;">
                Reclamação</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="checkgroup form-check-input" type="checkbox" name="tipoOcorrencia" id="tipoOcorrencia" value="3">
              <label class="checkgroup form-check-label" for="inlineCheckbox3" style="font-weight: normal;">
                Manutenção</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="checkgroup form-check-input" type="checkbox" id="tipoOcorrencia" name="tipoOcorrencia" value="2">
              <label class="checkgroup form-check-label" for="tipoOcorrencia" style="font-weight: normal;">
                Sugestão</label>
            </div>
            
            
            <div class="form-group">
              <label for="arquivoOcorrencia">Incluir Arquivos:</label>
              <input type="file" class="form-control-file" id="arquivoOcorrencia" name="arquivoOcorrencia">
            </div>
            
            <div class="form-group">
              <label for="mensagemOcorrencia">Mensagem:</label>
              <textarea class="form-control" id="mensagemOcorrencia" name="mensagemOcorrencia" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%}%>

<!--Filtro Modal -->
<div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtroModal">Filtro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="birthday">Data Início</label>
            <input type="date" id="birthday" name="birthday">
          </div>
          <div class="form-group">
            <label for="birthday">Data Final </label>
            <input type="date" id="birthday" name="birthday">
          </div>
          <div class="form-group">
            <label for="">Status</label>
            <select name="Tipo" id="status">
              <option value="Em Andamento">Em Andamento</option>
              <option value="Em Análise">Em Análise</option>
              <option value="Concluído">Concluído</option>
              
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</div>


<% if(usuario.tipo_usuario_id != 2) {%>
  <!-- Detalhes Modal Morador/Porteiro -->
  <div class="modal fade" id="detalhes1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalhes1Modal">Detalhes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <% listaOcorrencias.forEach((ocorrencia, index) =>{ %>
        <div class="modal-body">
          <h5>Imagem </h5>
          <img
          src="<%= ocorrencia.foto %>"
          alt="" style="width: 100px; height: 100px; object-fit: cover; ">
          <h5>Mensagem</h5>
          <p><%= ocorrencia.titulo %></p>
          <h5>Resposta do(a) Síndico(a)</h5>
          <p><%= ocorrencia.resposta %></p>
          
        </div>
        <%})%>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <%}%>
  
  
  
  <% if(usuario.tipo_usuario_id == 2) {%>
    <!-- Modal Detalhes Sindico -->
    <div class="modal fade" id="detalhes1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detalhes1Modal">Resposta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <h5>Arquivo </h5>
              <img src="https://media.istockphoto.com/photos/burnedout-light-bulb-isolated-on-white-background-with-shadow-burned-picture-id952090314" alt="" style="width: 100px; height: 100px; object-fit: cover; ">
            </div>
            
            <div class="form-group">
              <h5 >Mensagem Solicitante</h5>
              <%listaOcorrencias.forEach(ocorrencia => {  %>
                <p> <%= ocorrencia.mensagem %> </p>
                <% })%>
              </div>
              
              <form method="POST" action="/backoffice/morador/ocorrenciasSindico" enctype="multipart/form-data">
                
                
                <div class="form-group">
                  <label for="respostaOcorrencia" class="col-form-label"><h5>Resposta</h5></label>
                  <textarea class="form-control" name="respostaOcorrencia" id="respostaOcorrencia"></textarea>
                </div>
                
                <div class="form-check form-check-inline">
                  <input class="form-check-input" name="tipoOcorrencias" type="checkbox" id="tipoOcorrencias" value="1">
                  <label class="form-check-label" for="tipoOcorrencias">Registrado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="tipoOcorrencias" id="tipoOcorrencias" value="3">
                  <label class="form-check-label" for="tipoOcorrencias">Pendente</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="tipoOcorrencias" id="tipoOcorrencias" value="2" >
                  <label class="form-check-label" for="tipoOcorrencias">Resolvido</label>
                  
                </div>
                <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%}%>








